.App {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.btn-link {
   text-decoration: none;
   color: #fff;
   display: inline-block;
   padding: 12px 20px;
   background-color: green;
   min-width: 140px;
   max-width: 160px;
   margin-top: 20px;
   border-radius: 4px;
   text-align: center;
}
.btn-link__active {
   color: #ff4f4f;
   font-size: 20px;
}
